.white {
    color: #fff
}

.red {
    color: #f00
}

.green {
    color: #008000
}

.blue {
    color: #00f
}

.burlywood {
    color: #db8;
}

.orangered {
    color: #f40
}

.brown {
    color: #a22
}

.orange {
    color: #fa0
}

.yellow {
    color: #ff0
}

.greenyellow {
    color: #af2
}

.cyan {
    color: #0ff;
}

.blueviolet {
    color: #82e
}

.purple {
    color: #800080
}

.pink {
    color: #f0f;
}

.gray {
    color: #888;
}

.black {
    color: #000
}